<section id="section-welcome" class="no-padding autoheight light-text">
    <div class="center-y">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-ultra-big wow fadeInRight" data-wow-duration="1.5s">
                            <span class="id-color"><b>Let's Start Safety From The Standard</b></span><br>
                            SAFETY<br>
                            STANDARD</h1>
                        <!-- <a href="index.html#" class="btn btn-custom wow fadeInUp" data-wow-duration="2s">Get Rate Quote</a> -->
                    </div>
                    <div class="divider-double"></div>
                </div>
            </div>
        </div>
    </div>
</section>
