{% extends "admin/layout.html" %} {% block content %}
<input type="hidden" id="page" value="{{page}}">
<div class="app-main__inner">
		<div class="app-page-title">
				<div class="page-title-wrapper">
						<div class="page-title-heading">
								<div class="page-title-icon">
										<i class="pe-7s-medal icon-gradient bg-tempting-azure"></i>
								</div>
								<div>List Data Dokumen
										<div class="page-title-subheading">Choose between regular React Bootstrap tables or advanced dynamic ones.</div>
								</div>
						</div>
						<div class="page-title-actions">

								<div class="d-inline-block dropdown">
										<button type="button" data-toggle="modal" data-target="#modaldokumen" class="btn-shadow dropdown-toggle btn btn-info">
												<span class="btn-icon-wrapper pr-2 opacity-7">
														<i class="fa fa-business-time fa-w-20"></i>
												</span>
												Tambah
										</button>

								</div>
						</div>    </div>
		</div>            <div class="main-card mb-3 card">
				<div class="card-body">
						<h5 class="card-title col-md-2">Filter Jenis Dokumen</h5>
						<select id="filter-dokumen" class="multiselect-dropdown- form-control col-md-2">
						</select>
						<table style="width: 100%;" id="list-dokumen" class="table table-hover table-striped table-bordered">
								<thead>
								<tr>
										<th>NO</th>
										<th>JENIS DOKUMEN</th>
										<th>NAMA DOKUMEN</th>
										<th>NOMOR DOKUMEN</th>
										<th>URAIAN SINGKAT ISI DOKUMEN</th>
										<th>TANGGAL KELUAR</th>
										<th>DOKUMEN</th>
										<th>ACTION</th>
								</tr>
								</thead>
						</table>
				</div>
		</div>

</div>
{% endblock %}
