<div class="box-container">
    <div id="bg-service-1" class="box-one-third light-text">
        <div class="inner wow" data-wow-delay="0s">
            <h2 class="wow fadeIn" data-wow-delay=".2s">Ocean Freight</h2>
            <p class="wow fadeIn" data-wow-delay=".3s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container.</p>
            <div class="divider-single"></div>
            <a href="service-details-1.html" class="btn-border-light wow fadeInUp" data-wow-delay=".4s" data-wow-duration=".3s">Read More</a>
        </div>
    </div>



    <div id="bg-service-3" class="box-one-third light-text">
        <div class="inner">
            <h2 class="wow fadeIn" data-wow-delay=".4s">Logistics</h2>
            <p class="wow fadeIn" data-wow-delay=".5s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container. </p>
            <div class="divider-single"></div>
            <a href="service-details-2.html" class="btn-border-light wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".3s">Read More</a>
        </div>
    </div>

    <div id="bg-service-2" class="box-one-third light-text">
        <div class="inner">
            <h2 class="wow fadeIn" data-wow-delay=".6s">Air Freight</h2>
            <p class="wow fadeIn" data-wow-delay=".7s">The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container. </p>
            <div class="divider-single"></div>
            <a href="service-details-3.html" class="btn-border-light wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".3s">Read More</a>
        </div>
    </div>
</div>
