<section id="subheader" class="page-service-7 no-bottom" data-stellar-background-ratio="0.5">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Struktur Organisasi</h1>
                    <div class="crumb">
                        <ul>
                            <li><a href="{{base_url}}">Beranda</a></li>
                            <li>Struktur organisasi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
